form{
    background-color: dimgrey;
    width: 40%;

    margin: auto;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 25px 12px 42px #15b60a;

}

legend{
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    color: #a30707;
}

input[type=text],input[type=email],input[type=password]{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
}
button{
    color: slateblue;
    width: 200px;
    height: 50px;
    background-color: yellow;
}

button:hover{
    background-color: #0ae1da;
}






